@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 17px;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: url('../img/Layer 1.png') no-repeat;
    background-size: cover;
}

header {
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

header img {
    position: absolute;
    margin-left: 5rem;
}

ul {
    font-size: 1rem;
    text-align: right;
    color:white;
    padding-right: 5rem;
    
}

ul li {
    display: inline-block;
    padding: 0.2rem 1.1rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 30px;
}

ul li:first-child {
    border: 1px solid white;
}

.header-menu .header-button:hover {
    border: 1px solid white;
    transition: all;
}

ul:hover li:first-child {
    border: 1px solid transparent;
}

detail {
    display: block;
    font-family: 'Source Sans 3', sans-serif;
    margin: 10rem auto 0;
    color: white;
    width: 25rem;
    height: 30rem;
}

detail p {
    text-align: center;
}

detail p:first-child {
    font-size: 2rem;
}

.background-blackout {
    background-origin: border-box;
    background-color:rgba(0, 0, 0, 0.40);
    height: 50rem;
}