@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 17px;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: url('../img/Layer 1.png') no-repeat;
    background-size: contain;
}

header {
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

header img {
    position: absolute;
    margin-left: 5rem;
}

ul {
    font-size: 1rem;
    text-align: right;
    color: white;
    padding-right: 5rem;

}

ul li {
    display: inline-block;
    padding: 0.2rem 1.1rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 30px;
}

ul li:first-child {
    border: 1px solid white;
}

.header-menu .header-button:hover {
    border: 1px solid white;
    transition: all;
}

ul:hover li:first-child {
    border: 1px solid transparent;
}

detail {
    display: block;
    font-family: 'Source Sans Pro', 'sans-serif';
    margin: 10rem auto 0;
    color: white;
    height: 30rem;
    width: 35rem;
}

detail p {
    text-align: center;
}

detail p:first-child {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

detail p:last-child {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.background-blackout {
    background-origin: border-box;
    background-color: rgba(0, 0, 0, 0.40);
    height: 40rem;
}

main {
    background-color: white;
    height: 30rem;
    color:rgb(146, 146, 146);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    padding: 5rem;
}

main div {
    display: inline-block;
}

main div:first-child {
    width: 35rem;
    text-align: left;
    line-height: 30px;
}

main div:first-child h2 {
    letter-spacing: 3px;
}

main div:first-child h2, main div:first-child p:last-child {
    color: rgb(90, 90, 90);
}

main div:first-child h2 {
    font-size: 1.3rem;
    padding-bottom: 3rem;
}

main div:first-child p:last-child {
    margin-top: 1.5rem;
    padding: 0.4rem 0;
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
    font-size: 1.15rem;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 30px;
}

main img {
    padding-left: 10rem;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}